@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

/* game over */

.game-over {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

.game-over button {
  margin-top: 30px;
  padding: 0.5rem 1rem;
  color: #fff;
  background: cornflowerblue;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.score {
  text-align: center;
  font-size: 36px;
}

.speed {
  text-align: center;
  margin-bottom: 1rem;
}

.board > ul {
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}

.board > ul > li {
  width: 100%;
  height: 25px;
}

.board > ul > li > ul {
  display: flex;
}

.board > ul > li > ul > li {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.square {
  background: #d18063;
}

.tree {
  background: #917b56;
}

.bar {
  background: #909fa6;
}

.zee {
  background: #eeb8b8;
}

.reverseZee {
  background: #d5cb8e;
}

.elLeft {
  background: #c9cbe0;
}

.elRight {
  background: #b57fb3;
}

.playBtn {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.playBtn button {
  padding: 2rem;
  border: none;
  background: salmon;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
